apex==0.9.10dev
matplotlib==3.7.5
numpy==1.24.4
opencv_python==4.9.0.80
packaging==24.1
Pillow==10.3.0
pycocoevalcap==1.2
pycocotools==2.0.7
ruamel.base==1.0.0
scipy==1.13.1
six==1.16.0
skimage==0.0
tensorflow==2.16.1
timm==0.4.9
torch==1.7.1
torchvision==0.8.2
tqdm==4.66.2
transformers==4.12.5
