braceexpand==0.1.7
cog==0.9.9
datasets==2.19.2
decord==0.6.0
fairscale==0.4.4
ftfy==6.2.0
horovod==0.28.1
huggingface_hub==0.20.1
matplotlib==3.7.4
nltk==3.8.1
numpy==1.24.4
opencv_python_headless==4.5.5.64
pandas==2.0.3
Pillow==10.1.0
Pillow==10.3.0
pycocoevalcap==1.2
pycocotools==2.0.7
pydevd_pycharm==242.14146.24
PyYAML==6.0.1
PyYAML==6.0.1
regex==2023.10.3
Requests==2.32.3
ruamel_yaml==0.18.6
salesforce_lavis==1.0.2
seaborn==0.13.2
sentence_transformers==3.0.1
spacy==3.7.2
tensorflow==2.16.1
timm==0.4.12
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
transformers==4.26.1
wandb==0.17.1
webdataset==0.2.86
